<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="/shop/layout :: head">
    <title>Shop</title>
</head>
<body>
<tbody th:replace="/shop/layout :: headBody"></tbody>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1> Account </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">


        <div class="row product-lists">
            <div class="col-lg-4 col-md-6 text-center" th:each="a :${accounts}">
                <div class="single-product-item">
                    <div class="product-image">
                        <a th:href="@{/admin/edit/{id}(id = ${a.id})}"><img th:src="${a.avata}" th:alt="${a.username}" width="250" height="200"></a>
                    </div>
                    <h3 th:text="${a.username}">Strawberry</h3>
                    <p class="product-price" th:text="${a.role.name}"> role </p>
                    <a th:href="@{/admin/delete/{id}(id = ${a.id})}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Delete </a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a  href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->
<footer  th:replace="/shop/layout :: footer"></footer>

</body>
</html>